<mat-card>
  <mat-card-title>Rejestracja</mat-card-title>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field fxFlex>
          <input type="text" matInput #userControl="ngModel" placeholder="Login" type="text" maxlength="30" name="username" [(ngModel)]="username"
            required>
        </mat-form-field>
        <mat-hint fxLayoutAlign="start" *ngIf="userControl.invalid && !userControl.pristine">
          <span *ngIf="passControl.hasError('required')" class="tc-red-600">Wymagany login!</span>
        </mat-hint>
      </p>

      <p>
        <mat-form-field fxFlex>
          <input type="password" matInput #passControl="ngModel" placeholder="Haslo" type="password" name="password" [(ngModel)]="password"
            required>
          <mat-error fxLayoutAlign="start" *ngIf="passControl.hasError('required')">
            Wymagane haslo!
          </mat-error>
        </mat-form-field>

      </p>

      <p *ngIf="errorMessage" class="loginError">
        {{ errorMessage }}
      </p>

      <p class="loginButtons">
        <button type="submit" mat-raised-button color="warn"  mat-button md-raised-button fxFlex [disabled]="registerForm.invalid||registerForm.pending">Zarejestruj</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
